<div class="lobby">
  <h1>Game Lobby</h1>

  <%= unless is_nil(@username) do %>
    <h4><%= @username %></h4>
  <%= end %>

  <form method="POST" action="/login">
    <input type="hidden" value="<%= @token %>" name="_csrf_token"/>
    <input name="user[username]" type="text" phx-debounce="blur" />

    <button type="submit">Save</button>
  </form>
</div>